@charset "UTF-8";
@media (max-width: 1079.98px) {
  /*HERO*/
  .hero-link {
    top: 5px;
    left: 0;
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
  .hero__container {
    padding: 40px;
  }
  /*hero-swiper*/
  .hero-swiper {
    padding: 0;
  }
  .hero-swiper-wrapper.swiper-wrapper {
    margin-bottom: 10px;
  }
  /*hero-swiper-btns*/
  /*пагинация*/
  #hero-swiper-pgn {
    position: static;
    margin-bottom: 10px;
  }
  /*btns*/
  .hero-swiper-nav-btn--prev {
    left: 10px;
  }
  .hero-swiper-nav-btn--next {
    right: 10px;
  }
  /*scrollbar*/
  .hero-swiper .swiper-scrollbar {
    position: static;
    width: 100%;
    height: 20px;
  }
}
@media (max-width: 991.98px) {
  .hero__container {
    padding: 30px;
  }
  /*GAME*/
  .game-container {
    padding: 10px;
  }
  .game-wrapper-title {
    text-align: center;
    font-size: 48px;
  }
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 36px;
  }
  /*hero-swiper*/
  .hero-swiper-wrapper.swiper-wrapper {
    margin-bottom: 20px;
  }
  /*пагинация*/
  #hero-swiper-pgn {
    margin-bottom: 20px;
  }
  /*GAME*/
  .game-top-title {
    margin-bottom: 20px;
    font-size: 48px;
  }
  .game-top-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
  }
  .game-top-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
  }
  .game-top-form-input::-moz-placeholder {
    opacity: 0;
    visibility: hidden;
  }
  .game-top-form-input::placeholder {
    opacity: 0;
    visibility: hidden;
  }
  .game-top-form-input {
    width: 140px;
  }
  .game-wrapper-title {
    font-size: 42px;
    line-height: 1.5;
  }
  .game-wrapper-timer {
    font-size: 20px;
  }
  .card {
    flex: 0 1 80px;
    min-height: 128px;
  }
}
@media (max-width: 575.98px) {
  .hero__container {
    padding: 20px;
  }
  .hero__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  /*hero-swiper*/
  .hero-swiper-title {
    bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
}
@media (max-width: 479.98px) {
  .hero__container {
    padding: 30px 10px;
  }
  /*hero-swiper*/
  .hero-swiper-title {
    bottom: 10px;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
  }
  /*пагинация-фракция*/
  .hero-swiper .swiper-pagination-fraction {
    font-size: 14px;
    color: #fff;
  }
  /*GAME*/
  .card {
    flex: 0 1 75px;
    min-height: 120px;
    font-size: 30px;
  }
}